@import '../../styles/main.scss';

.p-card-table {
  min-height: 500px;

  &__body {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;

    td {
      border: 1px solid $primary-bg-color;
      text-align: center;
      padding: 8px;
      button {
        height: 30px;
        width: 80px;
        border: 1px solid $primary-green;
        border-radius: 10px;

        background: transparent;
        color: $primary-green;
        font-weight: bold;
        &:hover {
          background-color: $primary-green;
          color: $text-color-white;
        }
      }
      &:nth-child(2){
        img{
          height: 300px;
          width: 200px;
        }
      }
    }
    th {
      border: 1px solid $primary-bg-color;
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: $primary-bg-color;
    }
  }
}
