@import '../../styles/main.scss';

.p-header {
  background-color: $background-color-green;
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 100px;
  &__icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    h1{
      padding-left: 30px;
    }
    &__size {
      min-height: 40px;
      width: 40px;
      color: $primary-black;
    }
  }
}
